In [1]:
import polars as pl
import pathlib
path_to_data = pathlib.Path("data/titanic.csv")
path_to_data.exists()

True

In [2]:
# set the config to print 4 rows by default when printing out the DataFrame
pl.Config.set_tbl_rows(4)

polars.cfg.Config

In [3]:
df = pl.read_csv(path_to_data)
df.head()

shape: (5, 12)
┌─────────────┬──────────┬────────┬─────────────────┬─────┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name            ┆ ... ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---             ┆     ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str             ┆     ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═════════════════╪═════╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr.     ┆ ... ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Owen Harris     ┆     ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.   ┆ ... ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley    ┆     ┆           ┆         ┆       ┆          │
│             ┆          ┆        ┆ (Flor...        ┆     ┆           ┆         ┆       ┆          │
│ ...         ┆ ...      ┆ ...    ┆ ...             ┆ ... ┆ ...       ┆ ...     ┆ ...   ┆ ...      │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.  ┆ ... ┆ 113803    ┆ 53.1    ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath   ┆     ┆           ┆         ┆       ┆          │
│             ┆          ┆        ┆ (Li...          ┆     ┆           ┆         ┆       ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.      ┆ ... ┆ 373450    ┆ 8.05    ┆ null  ┆ S        │
│             ┆          ┆        ┆ William Henry   ┆     ┆           ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴─────────────────┴─────┴───────────┴─────────┴───────┴──────────┘

In [5]:
# sort a DataFrame with `.sort`
df.sort("Age")

shape: (891, 12)
┌─────────────┬──────────┬────────┬─────────────────────┬─────┬────────┬────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                ┆ ... ┆ Ticket ┆ Fare   ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                 ┆     ┆ ---    ┆ ---    ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                 ┆     ┆ str    ┆ f64    ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═════════════════════╪═════╪════════╪════════╪═══════╪══════════╡
│ 6           ┆ 0        ┆ 3      ┆ Moran, Mr. James    ┆ ... ┆ 330877 ┆ 8.4583 ┆ null  ┆ Q        │
│ 18          ┆ 1        ┆ 2      ┆ Williams, Mr.       ┆ ... ┆ 244373 ┆ 13.0   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Charles Eugene      ┆     ┆        ┆        ┆       ┆          │
│ ...         ┆ ...      ┆ ...    ┆ ...                 ┆ ... ┆ ...    ┆ ...    ┆ ...   ┆ ...      │
│ 852         ┆ 0        ┆ 3      ┆ Svensson, Mr. Johan ┆ ... ┆ 347060 ┆ 7.775  ┆ null  ┆ S        │
│ 631         ┆ 1        ┆ 1      ┆ Barkworth, Mr.      ┆ ... ┆ 27042  ┆ 30.0   ┆ A23   ┆ S        │
│             ┆          ┆        ┆ Algernon Henry      ┆     ┆        ┆        ┆       ┆          │
│             ┆          ┆        ┆ Wi...               ┆     ┆        ┆        ┆       ┆          │
└─────────────┴──────────┴────────┴─────────────────────┴─────┴────────┴────────┴───────┴──────────┘

In [7]:
# sort on multiple columns
df.sort(["Pclass", "Age"])

shape: (891, 12)
┌─────────────┬──────────┬────────┬─────────────────┬─────┬──────────┬──────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name            ┆ ... ┆ Ticket   ┆ Fare     ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---             ┆     ┆ ---      ┆ ---      ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str             ┆     ┆ str      ┆ f64      ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═════════════════╪═════╪══════════╪══════════╪═══════╪══════════╡
│ 32          ┆ 1        ┆ 1      ┆ Spencer, Mrs.   ┆ ... ┆ PC 17569 ┆ 146.5208 ┆ B78   ┆ C        │
│             ┆          ┆        ┆ William         ┆     ┆          ┆          ┆       ┆          │
│             ┆          ┆        ┆ Augustus (...   ┆     ┆          ┆          ┆       ┆          │
│ 56          ┆ 1        ┆ 1      ┆ Woolner, Mr.    ┆ ... ┆ 19947    ┆ 35.5     ┆ C52   ┆ S        │
│             ┆          ┆        ┆ Hugh            ┆     ┆          ┆          ┆       ┆          │
│ ...         ┆ ...      ┆ ...    ┆ ...             ┆ ... ┆ ...      ┆ ...      ┆ ...   ┆ ...      │
│ 117         ┆ 0        ┆ 3      ┆ Connors, Mr.    ┆ ... ┆ 370369   ┆ 7.75     ┆ null  ┆ Q        │
│             ┆          ┆        ┆ Patrick         ┆     ┆          ┆          ┆       ┆          │
│ 852         ┆ 0        ┆ 3      ┆ Svensson, Mr.   ┆ ... ┆ 347060   ┆ 7.775    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Johan           ┆     ┆          ┆          ┆       ┆          │
└─────────────┴──────────┴────────┴─────────────────┴─────┴──────────┴──────────┴───────┴──────────┘

# Sorting an Entire Column using an Expression

In [8]:
(
    df
    .select(
        pl.all().sort()
    )
)

shape: (891, 12)
┌─────────────┬──────────┬────────┬────────────────┬─────┬───────────┬──────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name           ┆ ... ┆ Ticket    ┆ Fare     ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---            ┆     ┆ ---       ┆ ---      ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str            ┆     ┆ str       ┆ f64      ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪════════════════╪═════╪═══════════╪══════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 1      ┆ Abbing, Mr.    ┆ ... ┆ 110152    ┆ 0.0      ┆ null  ┆ null     │
│             ┆          ┆        ┆ Anthony        ┆     ┆           ┆          ┆       ┆          │
│ 2           ┆ 0        ┆ 1      ┆ Abbott, Mr.    ┆ ... ┆ 110152    ┆ 0.0      ┆ null  ┆ null     │
│             ┆          ┆        ┆ Rossmore       ┆     ┆           ┆          ┆       ┆          │
│             ┆          ┆        ┆ Edward         ┆     ┆           ┆          ┆       ┆          │
│ ...         ┆ ...      ┆ ...    ┆ ...            ┆ ... ┆ ...       ┆ ...      ┆ ...   ┆ ...      │
│ 890         ┆ 1        ┆ 3      ┆ van Billiard,  ┆ ... ┆ WE/P 5735 ┆ 512.3292 ┆ G6    ┆ S        │
│             ┆          ┆        ┆ Mr. Austin     ┆     ┆           ┆          ┆       ┆          │
│             ┆          ┆        ┆ Blyler         ┆     ┆           ┆          ┆       ┆          │
│ 891         ┆ 1        ┆ 3      ┆ van Melkebeke, ┆ ... ┆ WE/P 5735 ┆ 512.3292 ┆ T     ┆ S        │
│             ┆          ┆        ┆ Mr. Philemon   ┆     ┆           ┆          ┆       ┆          │
└─────────────┴──────────┴────────┴────────────────┴─────┴───────────┴──────────┴───────┴──────────┘

If you know that your DataFrame is sorted, you can use a fast-track algorithm to take advantage of that

In [9]:
# check whether a column is sorted:
df["PassengerId"].flags

{'SORTED_ASC': False, 'SORTED_DESC': False}

In [10]:
# if you know a column is sorted, you can set it explicitly
df_sorted = df.with_column(
    pl.col("PassengerId").set_sorted()
)
df_sorted['PassengerId'].flags

{'SORTED_ASC': True, 'SORTED_DESC': False}

In [11]:
# now polars can take advantage of fast-tracked algorithms if it knows your column is sorted
(
    df_sorted
    .select(
        pl.col("PassengerId").max()
    )
)

shape: (1, 1)
┌─────────────┐
│ PassengerId │
│ ---         │
│ i64         │
╞═════════════╡
│ 891         │
└─────────────┘